.woocommerce-cart {
  .entry-content .woocommerce {
    display: flex;
    flex-wrap: wrap;

    .woocommerce-notices-wrapper {
      flex: 0 0 100%;
    }

    .woocommerce-cart-form {
      flex: 0 0 100%;

      .shop_table {
        width: 100%;

        thead {
          text-align: left;
          display: none;
        }

        tr:last-child {
          border: none;
        }

        tr.cart_item {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin: .5em 0;
          border: 1px dashed #E0C68A;
          background: $light-gray;

          td {
            padding: 10px  20px;
            flex: auto;
            border: none;
            text-align: center;


            &.product-remove {
              text-align: left;
              font-size: 30px;
            }


            &.product-thumbnail {
              padding: 10px 20px;

              img.attachment-woocommerce_thumbnail {
                max-width: 150px;
              }
            }

            &.product-name {
              font-family: $header-font-family;
              font-size: 22px;
              text-transform: uppercase;
            }

            &.product-price {
              font-family: $header-font-family;
              font-size: 22px;
              color: $red;
            }

            &.product-quantity {

              .minus-product,
              .plus-product {
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                border: dashed 1px;
              }

              .quantity {
                display: inline-block;
                width: 40px;
                font-size: 22px;
                font-family: $header-font-family;
                margin-top: 10px;

                input {
                  background: none;
                  border: none;
                  text-align: center;
                  width: 40px;

                  &[type=number]::-webkit-inner-spin-button,
                  &[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                  }

                  &[type=number] {
                    -moz-appearance: textfield;
                  }
                }
              }
            }

            &.product-quantity:before,
            &.product-subtotal:before {
              content: attr(data-title) "";
              font-family: $header-font-family;
              text-transform: uppercase;
              font-weight: 700;
              display: block;
            }
          }
        }

        .button[name='update_cart'] {
          display: none;
        }
      }

      @include breakpoint(medium) {
        flex: 0 0 60%;
        margin: 0 auto;
      }

    }

    .cart-collaterals {
      flex: 0 0 60%;
      margin: auto;

      .cart_totals {
        background: #f3f1ee;
        padding: 30px;

        .shop_table_responsive {
          text-align: left;

          .coupon-code {
            padding: 15px 0;

            .coupon {

              label {
                display: none;
              }

              input {
                width: 100%;
                padding: 8px;
                color: #4a4a4a;
                outline: none;
                border: 1px solid #979797;
                background-color: #fff;
              }

              .button {
                margin-top: 10px;
                width: 100%;

                @include breakpoint(xlarge) {
                  width: auto;
                }
              }
            }
          }
          .woocommerce-shipping-totals {
            th {
              display: block;
            }

            td {
              display: block;

              li {
                input {
                  margin-right: 8px;
                }
              }
            }
          }

          tr {
            border: none;
          }

          th {
            display: block;
          }

          td {
            border: none;
            padding: 15px;
            display: block;

            // &[data-title='Subtotal'],
            // &[data-title='Tax'],
            // &[data-title='order-total'] {
            //   text-align: left;
            // }
          }
        }

        .checkout-button {
          background-color: $red;
          color: $white;

          &:hover {
            background-color: $light-red;
          }
        }
      }

      @include breakpoint(medium) {
        flex: 0 0 60%;
        margin: 0 auto;
      }

      @include breakpoint(xlarge) {
        flex: 0 0 40%;
        padding: .625rem 0 .625rem .625rem;
      }
    }
  }
}
